force-app/main/default/flows/MovieCastPreparation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addToCollection</name>
        <label>add To Collection</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>singlePickedList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedPickedList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlePickedList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSelectedList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CastIdCounter</name>
        <label>Cast Id Counter</label>
        <locationX>468</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>castCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CastElemntId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActorCollectionID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CollectAllCasts.Actor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectAllCasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collectionOfScreenValues</name>
        <label>collectionOfScreenValues</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>NewCast.EstimatedHours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addOrNotEstiHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCast.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addCharacterName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCast.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>movieRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCast.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAllPickedActors.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCast.PricePerHour__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAllPickedActors.PricePerHour__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewCastCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createNewCastCollection</name>
        <label>createNewCastCollection</label>
        <locationX>138</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>castObj</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCast</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAllPickedActors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getPickedList</name>
        <label>get Picked List</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>pickedList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>actorsList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickedList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSelectedList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSelectedList</name>
        <label>Update Selected List</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>pickedList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updationSelectedList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CheckSelectedList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckActorsOnNeeded</name>
        <label>Check Actors</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>NeedmoreActors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>castCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetMovieID.Script__r.NumberOfActors__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowIfNoNeedActors</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOnFreeActors</name>
        <label>Check On Free Actors</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>ifNoActors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanAdd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreActors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actorsSelection</targetReference>
            </connector>
            <label>Can Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelectedList</name>
        <label>Check Selected List</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>addToCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pickedList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActorObject</targetReference>
            </connector>
            <label>is Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FreeActors</name>
        <collectionReference>AddMoreActors</collectionReference>
        <dataType>Date</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>AvailableFrom__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfActors</name>
        <collectionReference>AddMoreActors</collectionReference>
        <dataType>Date</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>AvailableFrom__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfFreeActors</name>
        <collectionReference>AddMoreActors</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sss</name>
        <collectionReference>AddMoreActors</collectionReference>
        <dataType>Date</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>AvailableFrom__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>selectedListUpdate</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!pickedList},{!singlePickedList} + &quot;;&quot;,&quot; &quot;))</expression>
    </formulas>
    <formulas>
        <name>singleList</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!pickedList}, FIND(&quot;;&quot;,{!pickedList})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>updationSelectedList</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!pickedList},{!singlePickedList} + &quot;;&quot;,&quot; &quot;))</expression>
    </formulas>
    <interviewLabel>Movie Cast Preparation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Movie Cast Preparation</label>
    <loops>
        <name>CollectAllCasts</name>
        <label>Collect all Casts</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <collectionReference>CastElemntId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CastIdCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckActorsOnNeeded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopAllPickedActors</name>
        <label>loop All Picked Actors</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <collectionReference>getActorObject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>showAddCharacterName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createNewCast</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewCast</name>
        <label>create New Cast</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>showFullCastCard</targetReference>
        </connector>
        <inputReference>castObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AddMoreActors</name>
        <label>Add More Actors</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOnFreeActors</targetReference>
        </connector>
        <filterLogic>(2 OR 3) And 1 And  4</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AvailableFrom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateAvaibleFrom</elementReference>
            </value>
        </filters>
        <filters>
            <field>AvailableFrom__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ActorCollectionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CastElemntId</name>
        <label>Cast Element Id</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectAllCasts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMovieID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getActorObject</name>
        <label>get Actor Object</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAllPickedActors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedPickedList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We are going to get movie</description>
        <name>GetMovieID</name>
        <label>Get Movie</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CastElemntId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>movieRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movie_object__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>get Record Type</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddMoreActors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>actorsSelection</name>
        <label>Actors selection</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getPickedList</targetReference>
        </connector>
        <fields>
            <name>actorsList</name>
            <choiceReferences>ListOfFreeActors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Actors list</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ifNoActors</name>
        <label>ifNoActors</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoActors</name>
            <fieldText>&lt;p&gt;Sorry, at the moment no free Actors!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NeedmoreActors</name>
        <label>Need you more Actors</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <fields>
            <name>ActorsAddMessage</name>
            <fieldText>&lt;p&gt;You can add Actors if you need more&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DateAvaibleFrom</name>
            <dataType>Date</dataType>
            <fieldText>Date Avaible From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showAddCharacterName</name>
        <label>show Add Character Name</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>collectionOfScreenValues</targetReference>
        </connector>
        <fields>
            <name>showPickedActors</name>
            <fieldText>&lt;p&gt;Please enter Character name for Actor {!getActorObject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addCharacterName</name>
            <dataType>String</dataType>
            <fieldText>add Character Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>addOrNotEstiHours</name>
            <dataType>Number</dataType>
            <fieldText>Add Or Not Estimate Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showFullCastCard</name>
        <label>show Full Cast Card</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowLastMsg</name>
            <fieldText>&lt;p&gt;Actors were added to movie cast!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowIfNoNeedActors</name>
        <label>Show If No Need Actors</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NeedmoreActors</targetReference>
        </connector>
        <fields>
            <name>ShowingsCasts</name>
            <fieldText>&lt;p&gt;No more actors needed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMovieID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActorCollectionID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>castCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>castObj</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>characterValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectAllCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectEstiHours</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>collectionOfAllObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>divideActorListCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getObjectActor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>movieRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCast</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>pickedCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickedList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPickedList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singlePickedList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
